body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f1;
}

.auth-buttons button {
    margin-left: 10px;
}

#videoUpload, #videoList {
    padding: 20px;
}

#videos {
    display: flex;
    flex-wrap: wrap;
}

.video {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}